<footer class="edgtf-page-footer">
  <div class="edgtf-footer-bottom-holder">
    <div class="edgtf-footer-bottom-inner edgtf-grid">
      <div class="edgtf-footer-bottom-left-inner-border-holder"></div>
      <div class="edgtf-grid-row">
        <div class="edgtf-grid-col-12">
          <div
            id="nav_menu-3"
            class="widget edgtf-footer-bottom-column-1 widget_nav_menu"
          >
            <div class="menu-playerx-footer-menu-container">
              <ul id="menu-playerx-footer-menu" class="menu">
                <li
                  id="menu-item-4033"
                  class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-14 current_page_item menu-item-4033"
                >
                  <a href="index.html" aria-current="page">Home</a>
                </li>
                <li
                  id="menu-item-4275"
                  class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4275"
                >
                  <a href="about-the-clan/index.html">About Us</a>
                </li>
                <li
                  id="menu-item-4627"
                  class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4627"
                >
                  <a href="blog/right-sidebar/index.html">Blog</a>
                </li>
                <li
                  id="menu-item-5135"
                  class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5135"
                >
                  <a href="shop/index.html">Shop</a>
                </li>
                <li
                  id="menu-item-3281"
                  class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3281"
                >
                  <a href="contact-us/index.html">Contact Us</a>
                </li>
                <li
                  id="menu-item-4566"
                  class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4566"
                >
                  <a href="portfolio/masonry/index.html">Portfolio</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="widget edgtf-separator-widget">
            <div
              class="edgtf-separator-holder clearfix edgtf-separator-center edgtf-separator-normal"
            >
              <div
                class="edgtf-separator"
                style="border-style: solid; margin-top: 18px"
              ></div>
            </div>
          </div>
          <div class="widget edgtf-contact-form-7-widget">
            <div
              role="form"
              class="wpcf7"
              id="wpcf7-f3030-o2"
              lang="en-US"
              dir="ltr"
            >
              <div class="screen-reader-response">
                <p role="status" aria-live="polite" aria-atomic="true"></p>
                <ul></ul>
              </div>
              <form
                action="https://playerx.qodeinteractive.com/elementor/#wpcf7-f3030-o2"
                method="post"
                class="wpcf7-form init"
                novalidate="novalidate"
                data-status="init"
              >
                <div style="display: none">
                  <input type="hidden" name="_wpcf7" value="3030" />
                  <input type="hidden" name="_wpcf7_version" value="5.6.3" />
                  <input type="hidden" name="_wpcf7_locale" value="en_US" />
                  <input
                    type="hidden"
                    name="_wpcf7_unit_tag"
                    value="wpcf7-f3030-o2"
                  />
                  <input type="hidden" name="_wpcf7_container_post" value="0" />
                  <input
                    type="hidden"
                    name="_wpcf7_posted_data_hash"
                    value=""
                  />
                </div>
                <div class="edgtf-custom-footer-form">
                  <span class="wpcf7-form-control-wrap" data-name="your-name"
                    ><input
                      type="text"
                      name="your-name"
                      value=""
                      size="40"
                      class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required"
                      aria-required="true"
                      aria-invalid="false"
                      placeholder="Subscribe to our Newsletter" /></span
                  ><input
                    type="submit"
                    value="&#xe010;"
                    class="wpcf7-form-control has-spinner wpcf7-submit"
                  />
                  <span class="edgtf-cf7-filler"></span>
                </div>
                <div class="wpcf7-response-output" aria-hidden="true"></div>
              </form>
            </div>
          </div>
          <div class="widget edgtf-separator-widget">
            <div
              class="edgtf-separator-holder clearfix edgtf-separator-center edgtf-separator-normal"
            >
              <div
                class="edgtf-separator"
                style="
                  border-style: solid;
                  border-bottom-width: 30px;
                  margin-top: -30px;
                  margin-bottom: -30px;
                "
              ></div>
            </div>
          </div>
          <div
            class="widget edgtf-social-icons-group-widget edgtf-light-skin text-align-center"
          >
            <a
              class="edgtf-social-icon-widget-holder edgtf-icon-has-hover"
              style="font-size: 13px; margin: 24px 12px 24px 12px"
              href="https://www.facebook.com/QodeInteractive/"
              target="_blank"
            >
              <span
                class="edgtf-social-icon-widget fab fa-facebook-square"
              ></span>
            </a>
            <a
              class="edgtf-social-icon-widget-holder edgtf-icon-has-hover"
              style="font-size: 13px; margin: 24px 12px 24px 12px"
              href="https://twitter.com/QodeInteractive"
              target="_blank"
            >
              <span
                class="edgtf-social-icon-widget fab fa-twitter-square"
              ></span>
            </a>
            <a
              class="edgtf-social-icon-widget-holder edgtf-icon-has-hover"
              style="font-size: 13px; margin: 24px 12px 24px 12px"
              href="https://www.youtube.com/channel/UC-h62vMXD5aZV5zAULD-SuA"
              target="_blank"
            >
              <span class="edgtf-social-icon-widget fab fa-youtube"></span>
            </a>
            <a
              class="edgtf-social-icon-widget-holder edgtf-icon-has-hover"
              style="font-size: 13px; margin: 24px 12px 24px 12px"
              href="https://www.instagram.com/qodeinteractive/"
              target="_blank"
            >
              <span class="edgtf-social-icon-widget fab fa-instagram"></span>
            </a>
            <a
              class="edgtf-social-icon-widget-holder edgtf-icon-has-hover"
              style="font-size: 13px; margin: 24px 12px 24px 12px"
              href="https://www.twitch.tv/"
              target="_blank"
            >
              <span class="edgtf-social-icon-widget fab fa-twitch"></span>
            </a>
          </div>
        </div>
      </div>
      <div class="edgtf-footer-bottom-right-inner-border-holder"></div>
    </div>
  </div>
</footer>
